.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .titulo {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .line {
    width: 100%;
    max-width: 1000px;
  }
  
  .graph {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .titulo {
      font-size: 20px;
    }
  
    .graph {
      height: 250px;
    }
  }
  
  @media (max-width: 480px) {
    .titulo {
      font-size: 18px;
    }
  
    .graph {
      height: 200px;
    }
  }
  